body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1{
    font-size: 50px;
}
h2{
    color: gray;
}
p{
    text-align: justify;
}
.orange-color{
    color: orange;
}
.section-box{
    display: flex;
    margin-bottom: 100px;
    
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px 30px;
    border-radius: 10px;
    background-image: linear-gradient(orange, tomato);
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-padding{
    padding-right: 120px;
}
.padding-left{
    margin-left: 30px;
}
.text-right{
    text-align: center;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.shadow{
    box-shadow:  5px 7px 50px gray;
    height: 80%;
}
#full-stack{
    border-left: 7px solid tomato;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue 100%, cyan 100%);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
.padding-r{
    padding-right: 20px;
}